torch>=2.5.0
torchvision
einops
fire
huggingface-hub
safetensors
sentencepiece
transformers
tokenizers
protobuf
requests
invisible-watermark
pyyaml
python-box
ruff
PyYAML
loguru
ray
imageio[ffmpeg]
diffusers
accelerate
ftfy
flash_attn
easydict
